<footer>
    <div class="footer">
        <div class="social">
            <a href=""><span style="color: rgb(170, 14, 231);"><i class="fab fa-github-alt"></i></span></a>
            <a href=""><span style="color: rgb(226, 111, 130);"><i class="fab fa-instagram"></i></span></a>
            <a href=""><span style="color:rgb(87, 87, 182)"><i class="fab fa-facebook"></i></span></a>
            <a href=""><span style="color: black;"><i class="fab fa-twitter"></i></span></a>

        </div>
        <div class="text">
            <h2>copyright 2020:&copy;</h2>
        </div>
    </div>
</footer>
