<header class="navigation-bar">
    <nav>
        <div class="navbar ">
            <div class="logo-and-name">
                <div class="logo">
                    <a href=""><span><img src="/images/abacus-logo.jpeg" alt=""></span></a>
                </div>
                <div class="name">
                    <a href=""><span>ABACUS SOCIETY GLA</span></a>
                </div>
            </div>
            <div class="nav-items">
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">CHAPTERS</a></li>
                    <li><a href="">TESIMONIALS</a></li>
                    <li><a href="">EVENTS</a></li>
                </ul>
            </div>
        </div>
    </nav>
    </div>
</header>