<link rel="stylesheet" href="/css/home.css">
<div class="my-header">
    <div class="my-container">
        <div class="image">
            <img src="" alt="">
        </div>
        <div class="text">
            <h1>Education is life</h1>
            <p>We ensure you to provide the best eduation content</p>
            <button class="btn-grad"><a href="/user/sign-up"> Sign Up</a></button>
        </div>
    </div>
</div>