<link rel="stylesheet" href="/css/user.css">

<div class="my-header">
    <div class="my-container">
        <h1>codial home</h1><br>
        <h2>username:<%= user.name %>
        </h2><br>
        <h2>password:<%= user.password %>
        </h2><br>
        <h2>user Id:<%= user._id %>
        </h2><br>
        <h2>Email :<%= user.email %>
        </h2><br>
    </div>
</div>