<link rel="stylesheet" href="/css/user_sign_in.css">
<div class="container-fluid header">
    <div class="header-image">
        <img src="../images/sign_in.svg" alt="">
    </div>
    <div class="container">
        <h1>Sign In</h1>
        <div class="image">
            <img src="../images/undraw_profile_pic_ic5t.svg" alt="">
        </div>
        <form action="/user/create-session" method="POST">
            <div class="input-first input">
                <div class="input-image">
                    <img style=" display:inline-block; width:20px ;height:20;" src="../images/gmail.png" alt="">
                </div>
                <input type="email" name="email" placeholder="Enter Your Email" required>
            </div>
            <div class="input-first input">
                <div class="input-image">
                    <img style=" display:inline-block; width:20px ;height:20;" src="../images/key.png" alt="">
                </div>
                <input type="password" name="password" placeholder="Enter Password" required>
            </div>
            <input class="btn-grad" type="submit" value="Sign In">
        </form>
    </div>
</div>